.header 
  height: 100vh 
  & .header-nav 
    & .logo 
      display: none 
    & .header-menu
      & .burger 
        display: none 
      & .menu 
        display: flex 
        align-items: center
        justify-content: center
        & a 
          +rob_reg 
          font-size: 13px 
          letter-spacing: .52px 
          color: #989696
          margin: 0 20px
          transition: .3s linear 
          &:hover
            color: #010101
          &:first-of-type
            margin-left: 0
          &:last-of-type
            margin-right: 0
        & .logo 
          width: 55px 
          height: 55px 
          background: #121212
          cursor: pointer
          display: block 
          margin: 0 35px 
          & h2 
            text-transform: uppercase
            display: flex 
            align-items: center
            justify-content: center
            height: 100%
            color: #ffffff
            +rob_reg 
            font-size: 30px 
  & .header-title 
    display: flex 
    flex-direction: column 
    justify-content: center
    align-items: center
    text-align: center
    height: 100%
    & h3 
      font-size: 44px 
      letter-spacing: .88px 
      color: #1d1e1f 
    & p 
      +mer_italic
      font-size: 16px 
      letter-spacing: .48px 
    & .btn 
      margin-top: 40px 
      & button 
        text-transform: uppercase
        width: 190px 
        height: 55px 
        border: 1px solid #000000
        +mont_reg 
        font-size: 13px 
        letter-spacing: .52px 
        color: #000000
        transition: .3s linear 
        &:hover
          background: #000000
          color: #898888
    & .header-points 
      width: 10px 
      height: 60px 
      position: absolute
      left: 50%
      bottom: 90px 
      transform: translateX(-50%)
      display: flex 
      align-items: center
      justify-content: center
      & span 
        width: 10px 
        height: 10px 
        border-radius: 50%
        background: rgba(#d0d0d0,.66)
      &::before
        content: ''
        position: absolute
        width: 10px 
        height: 10px 
        border-radius: 50%
        background: rgba(#d0d0d0,.33)
        top: 0
      &::after
        content: ''
        position: absolute
        width: 10px 
        height: 10px 
        border-radius: 50%
        background:#d0d0d0
        bottom: 0